---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import DarkMode from '../components/DarkMode.astro'
---

<DefaultLayout title="Home">
  <section class="margin-32">
    <div class="container">
      <h1 tabindex="-1">Hallmark Christmas Movie Generator</h1><br>
      <p>Putting a little fun back in Christmas</p>
     
    </div>
  </section>
  <section class="padding-32 color-primary">
    <div class="container">
      <h2 class="margin-16 bottom">Get your own bot-generated Hallmark Christmas movie</h2>
      <p>UNDER CONSTRUCTION!</p>
    </div>
    <div class="container margin-16" data-auto-grid="1">
      <div class="box">
       <button role="button" class="darkmode-toggle">Generate Hallmark Christmas Movie</button>
      </div>
      <div class="box">
      <!-- <p>generated movie</p> -->
      </div>
    </div>
  </section>

</DefaultLayout>
<style lang="scss">
  .darkmode-toggle {
    border: 2px solid var(--secondary-clr-500);
    border-radius: var(--radius-small);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover {
      color: var(--neutral-clr-0);
      background-color: var(--secondary-clr-500);
    }
  }
</style>