<footer>
  <section class="padding-16 color-neutral">
    <div class="container" data-auto-grid="3" data-grid-center>
    <div>Built with 
      <span class="iconify-inline" data-icon="bx:bxs-coffee-alt" ></span> + 
      <span class="iconify-inline" data-icon="vscode-icons:file-type-astro"></span> + 
      <span class="iconify-inline" data-icon="vscode-icons:file-type-python"></span>
    </div>
    <div >
      &copy; {new Date().getFullYear()}
    </div>
    <div >
      <a href="https://github.com/dmtrek14/hallmark-xmas-movie-generator" name="Project on GitHub"><span class="iconify-inline" data-icon="akar-icons:github-fill"></span><span class="sr-only">Check us out on Github</span></a>
    </div>
    </div>
  </section>
</footer>
<style>

svg {
   display: initial
}

</style>