// | -------------------------------------------------------------
// | > Color
// | -------------------------------------------------------------
// |   Color map with HSL values. Used to create Custom
// |   Properties in _root.scss.
// | -------------------------------------------------------------

$colors: (
  primary-clr: (
    100: hsla(127, 69%, 64%, 0.84),
    200: hsla(122, 76%, 46%, 0.86),
    300: hsla(122, 100%, 30%, 1),
    400: hsla(122, 100%, 24%, 1),
    500: hsla(122, 100%, 19%, 1),
  ),
  secondary-clr: (
    100: hsla(358, 66%, 67%, 0.94),
    200: hsla(358, 70%, 63%, 0.94),
    300: hsla(358, 75%, 59%, 0.89),
    400: hsla(358, 86%, 44%, 1),
    500: hsla(358, 100%, 34%, 1),
  ),
  neutral-clr: (
    000: hsl(0, 0%, 100%),
    100: hsl(200, 23%, 97%),
    200: hsl(200, 12%, 95%),
    300: hsl(205, 12%, 88%),
    400: hsl(209, 13%, 83%),
    500: hsl(210, 10%, 70%),
    600: hsl(208, 6%, 55%),
    700: hsl(210, 8%, 31%),
    800: hsl(212, 9%, 22%),
    900: hsl(210, 10%, 14%),
  ),
);
